<!DOCTYPE html>
<html land="en">

<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<title>Admin Dashboard</title>
	<link href="{% static "main\css\1.3.0\css\line-awesome.css" %}" rel="stylesheet">
	<!-- <link rel="stylesheet" href="D:\Scripts\web_test\1.3.0\css\line-awesome.css"> -->
	<link href="{% static "main\css\style.css" %}" rel="stylesheet">
	<!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
	<input type="checkbox" name="" id="sidebar-toggle"></input>
	<div class="sidebar">
		<div class="sidebar-brand">
			<div class="brand-flex">
				<img src="" width="40px" alt="">
				<div class="brand-icons">
					<span class="las la-bell"></span>
					<span class="las la-user-circle"></span>
				</div>
			</div>
<!-- 			<div class="sidebar-main">
				<div class="sidebar-user">
					<img src="" alt="">
					<div>
						<h3>Nick</h3>
						<span>nick@gmail.com</span>
					</div>
				</div>
			</div> -->
			<div class="sidebar-menu">
				<div class="menu-head">
					<span>Dashboard</span>
				</div>
				<ul>
					<li>
						<a href="">
							<span class="las la-balance-scale"></span>
							Finance
						</a>
					</li>
					<li>
						<a href="">
							<span class="las la-chart-pie"></span>
							Analytics
						</a>
					</li>
				</ul>

				<div class="menu-head">
					<span>Applications</span>
				</div>
				<ul>
					<li>
						<a href="">
							<span class="las la-calendar"></span>
							Calendar
						</a>
					</li>
					<li>
						<a href="">
							<span class="las la-users"></span>
							Contacks
						</a>
					</li>
					<li>
						<a href="">
							<span class="las la-shopping-cart"></span>
							Ecommerce
						</a>
					</li>
					<li>
						<a href="">
							<span class="las la-envelope"></span>
							Mailbox
						</a>
					</li>
					<li>
						<a href="">
							<span class="las la-check-circle"></span>
							Tasks
						</a>
					</li>
				</ul>

			</div>
		</div>	
	</div>
	<div class="main-content">
		<header>
			<div class="menu-toggle">
				<label for="sidebar-toggle">
					<span class="las la-bars"></span>
				</label>
			</div>
			<div class="header-icons">
				<span class="las la-search"></span>
				<span class="las la-bookmark"></span>
				<span class="las la-sms"></span>
			</div>
		</header>
		<main>
			<div class="page-header">
				<div class="header-input">
					<h1>
						Test Dashboard
					</h1>
					<small>Monitor key metrics:
						<input id="metrics" maxlength="12" placeholder="ID">
					</small>
				</div>
				<div class="header-actions">
					<button>
						<span class="las la-file-export"></span>
						Export
					</button>
					<button>
						<span class="las la-tools"></span>
						Settings
					</button>
				</div>
			</div>
			<div class="cards">
				{% for p in Panels%}
				<div class="card-single">
					<div class="card-flex">
						<div class="card-info">
							<div class="card-head">
								<span id='c{{p.pk}}'>************</span>
								<span id='n{{p.pk}}'>************</span>
							</div>
							<div>
							<small>Next:</small>
							<small id='nf{{p.pk}}'>None</small>
							</div>
							<h2 id='p{{p.pk}}'>Waiting</h2>
							<small>PASS: 123, FAIL: 10</small>
						</div>
						<div id='q{{p.pk}}' class="card-chart success">
							<span class="las la-fire-alt" id='run{{p.pk}}'></span>
						</div>
						<div class="running">
						    <div class="outer">
						        <div class="body">
						            <div class="arm behind"></div>
						            <div class="arm front"></div>
						            <div class="leg behind"></div>
						            <div class="leg front"></div>
						        </div>
						    </div>
						</div>
					</div>
					<div>
						<textarea id='t{{p.pk}}' placeholder="Log Message..." readonly></textarea>
					</div>
				</div>
				{% endfor %}
			</div>
		</main>
	</div>
	<label for="sidebar-toggle" class="body-label"></label>
<!-- <script type="module" src="https://unpkg.com/vue@next"></script> -->
<!-- <script src="{% static "main/js/vue.global.js" %}"></script> 
<script src="{% static "main/js/vue.js" %}"></script> 
<script src="{% static "main/js/axios.min.js" %}"></script>  -->
<script src="{% static "main/js/jquery.min.js" %}"></script>  
<script type="text/javascript" src="{% static "main/js/script.js" %}"> </script>

</body>

</html>